{% extends 'base.html.twig' %}

{% block title %}Agent{% endblock %}

{% block body %}
    <h1>Agent</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ agent.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ agent.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ agent.roles ? agent.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ agent.password }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ agent.code }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ agent.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ agent.prenom }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ agent.tel }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('agent_index') }}">back to list</a>

    <a href="{{ path('agent_edit', {'id': agent.id}) }}">edit</a>

    {{ include('agent/_delete_form.html.twig') }}
{% endblock %}
