{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}
    <h1>Client index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>DateInsertion</th>
                <th>TypeClient</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>DateNaissance</th>
                <th>NomSociete</th>
                <th>NumTVA</th>
                <th>DateCreationSTE</th>
                <th>NumClientProximus</th>
                <th>NumTelephoneFixe</th>
                <th>NumGSM</th>
                <th>Email</th>
                <th>NumIBAN</th>
                <th>CodePostal</th>
                <th>Commune</th>
                <th>Rue</th>
                <th>NumPorte</th>
                <th>AdresseInstallation</th>
                <th>DateInstallation</th>
                <th>InfoEncodage</th>
                <th>NumTelephoneProximus</th>
                <th>NumClientConcurrence</th>
                <th>NumEasySwitch</th>
                <th>NumCarteSIMPrepayee</th>
                <th>NomClientMobile</th>
                <th>CodeClientMobile</th>
                <th>AppMobile</th>
                <th>BonusTV</th>
                <th>LienDrivePartageable</th>
                <th>CarteIdentite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.code }}</td>
                <td>{{ client.dateInsertion ? client.dateInsertion|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ client.typeClient }}</td>
                <td>{{ client.nom }}</td>
                <td>{{ client.prenom }}</td>
                <td>{{ client.dateNaissance ? client.dateNaissance|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ client.nomSociete }}</td>
                <td>{{ client.numTVA }}</td>
                <td>{{ client.dateCreationSTE ? client.dateCreationSTE|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ client.numClientProximus }}</td>
                <td>{{ client.numTelephoneFixe }}</td>
                <td>{{ client.numGSM }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.numIBAN }}</td>
                <td>{{ client.codePostal }}</td>
                <td>{{ client.commune }}</td>
                <td>{{ client.rue }}</td>
                <td>{{ client.numPorte }}</td>
                <td>{{ client.adresseInstallation }}</td>
                <td>{{ client.dateInstallation ? client.dateInstallation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ client.infoEncodage }}</td>
                <td>{{ client.numTelephoneProximus }}</td>
                <td>{{ client.numClientConcurrence }}</td>
                <td>{{ client.numEasySwitch }}</td>
                <td>{{ client.numCarteSIMPrepayee }}</td>
                <td>{{ client.nomClientMobile }}</td>
                <td>{{ client.codeClientMobile }}</td>
                <td>{{ client.appMobile }}</td>
                <td>{{ client.bonusTV }}</td>
                <td>{{ client.lienDrivePartageable }}</td>
                <td>{{ client.carteIdentite }}</td>
                <td>
                    <a href="{{ path('client_show', {'id': client.id}) }}">show</a>
                    <a href="{{ path('client_edit', {'id': client.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="33">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('client_new') }}">Create new</a>
{% endblock %}
